*{
    padding: 0;
    margin: 0;
    border: 0;
}
section{
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
}
article:nth-of-type(1) {order: 3;}
article:nth-of-type(2) {order: 2;}
article:nth-of-type(3) {order: 5;}
article:nth-of-type(4) {order: 1;}
article:nth-of-type(5) {order: 4;}

article{
    width: 400px;
    background-color: grey;
    margin: 10px;
    color: beige;
    text-align: justify;
    margin: 5px;
    background: #9c9c9c;
}



header{
    background-color: red;
    color: white;
}

